.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 60px;
  min-height: 60px;
  padding: 0 1rem;
  background: black;
  border-bottom: 1px rgba(0, 0, 0, 0.226);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.719);
}

.navbar__logo {
  display: block;
  width: 150px;
}

@media (min-width: 992px) {
  .navbar {
    padding: 0 10%;
    position: fixed;
    width: 80vw;
  }
}