.aside{
    background-color: #fad61a;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:7vw;
    height: 90vh;
}
.aside img{
    width: 5.5vw;
    height:9.5vh;
    cursor: pointer;
}